@model Dish
@{ string c = Model.Category.Name;}

<style>
    .row-fluid .span2 {
        width:20%;
        float:left;
        display:block;
        line-height:20px;
    }
    .row-fluid .span2 img{
        max-width:90%;
        vertical-align:middle;
        margin-right:5px;
    }

</style>
<hr class="soften">
<div class="row-fluid">
    <div class="span2">
        <img src="@Model.ImageUrl" alt="">
    </div>
    <div class="span6">
        <h5>@Model.Name</h5>
        <p>
            @Model.Description
        </p>
    </div>
    <div class="span4 alignR">
        <form class="form-horizontal qtyFrm">
            <h3> @Model.Price L.E.</h3>
            @*<label class="checkbox">
                <input type="checkbox">  Add product to cart
            </label><br>*@
            <div class="btn-group">
                <a asp-action="Details" asp-controller="Dishes" asp-route-id="@Model.Id" class="defaultBtn">@*need to go to cart*@
                <span class="icon-shopping-cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    </span> Add to cart</a><br />
                <a asp-action="Details" asp-controller="Dishes" asp-route-id="@Model.Id" class="shopBtn">View Dish</a>
            </div>
        </form>
    </div>
</div>
@*<div class="col-sm-6 col-md-4  @c">
        <div class="portfolio-item">
            <div class="hover-bg">
                <div class="hover-text">
                    <a asp-action="Details" asp-controller="Dishes" asp-route-id="@Model.Id">Dets</a>
                </div>
                <img src="@Model.ImageUrl" class="img-responsive" alt="Project Title">
                <p class="text-secondary"> @Model.Description</p>


            </div>
        </div>
    </div>*@

