@model RestaurantMenu
<h1>Details</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.WorkingHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.WorkingHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.DeliveryAreas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.DeliveryAreas)
        </dd>
    </dl>
</div>

@section Nagdy
{
<script>
    $('#restaurant-menu .section-title').css('background-image','url(' +'@Model.Restaurant.ImageUrl' +')');
</script>
}


@section filter {
    <div class="row">
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        @foreach (var item in Model.Category)
                        {
                            <li><a href="#" data-filter=".@item.Name">@item.Name</a></li>

                        }
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
}

<div class="row">
    <div class="portfolio-items">
        @foreach (var item in Model.Dishes)
        {
            <partial name="PartialViews/_RestaurantDish" model="item" />
        }
    </div>
</div>
