@model RestaurantMenu
@section Nagdy
{
    <script>
        $('#restaurant-menu .section-title').css({ 'background': 'url("@Model.Restaurant.ImageUrl") center center no-repeat', 'background- size':'cover cover'});
    </script>
}


<h1>@Model.Restaurant.Name</h1>

<div class="span9">
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span2">
                <img src="@Model.Restaurant.ImageUrl" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    @Model.Restaurant.Description
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> Rating: @Model.Restaurant.Rate</h3>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="categories">
                <ul class="cat">
                    <li>
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            @foreach (var item in Model.Restaurant.Categories)
                            {
                             <li><a href="#" data-filter=".@item.Name">@item.Name</a></li>
                            }
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="portfolio-items">
                @foreach (var item in Model.Dishes)
                {
                          <partial name="PartialViews/_RestaurantDish" model="item" />
                }
            </div>
        </div>


    </div>
</div>




@*@model RestaurantMenu

    <h1>@Model.Restaurant.Name</h1>

    @section filter {
        <div class="row">
            <div class="categories">
                <ul class="cat">
                    <li>
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            @foreach (var item in Model.Restaurant.Categories)
                            {
                                <li><a href="#" data-filter=".@item.Name">@item.Name</a></li>

                            }
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    }
    @section Nagdy
        {
        <script>
            $('#restaurant-menu .section-title').css('background-image', 'url(' + '@Model.Restaurant.ImageUrl' + ')');
            var selectedItems = document.querySelectorAll('*=Egyptian')
        </script>
    }


    <div class="span9">
        <div class="well well-small">
            <div class="row-fluid">
                <div class="span2">
                    <img src="@Model.Restaurant.ImageUrl" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        @Model.Restaurant.Description
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> Rating: @Model.Restaurant.Rate</h3>
                    </form>
                </div>
            </div>

            @foreach (var item in Model.Dishes)
            {
                <partial name="PartialViews/_RestaurantDish" model="item" />
            }


        </div>
    </div>*@